.suggestions-group .or {
  position: relative;
}

.suggestions-group .or span {
  display: block;
  border: 1px solid gray;
  border-radius: 5rem;
  width: 1.4rem;
  height: 1.4rem;
  position: absolute;
  padding: 2px;
  font-size: 0.7rem;
  background: white none repeat scroll 0% 0%;
  left: 0px;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

